<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        tools:ignore="DataExtractionRules,GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:supportsPictureInPicture="true"
            android:configChanges="fontScale|orientation|screenSize|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|screenLayout|touchscreen|uiMode|smallestScreenSize|density"
            android:resizeableActivity="true"
            android:windowSoftInputMode="stateHidden"
            android:exported="true"
            android:process=":x11">
            <intent-filter>
                <category android:name="android.intent.category.SECONDARY_HOME" />
            </intent-filter>
            <!-- android:taskAffinity=".MainActivity" -->
            <!-- android:launchMode="singleInstance" -->
        </activity>
           <!--termux-x11-->
        <activity
            android:name="com.termux.x11.controller.ControlsEditorActivity"
            android:exported="false"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.termux.x11.controller.ExternalControllerBindingsActivity"
            android:exported="false"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.termux.x11.controller.InputControllerActivity"
            android:exported="false"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme" />

        <activity
            android:theme="@style/Theme.AppCompat.DayNight"
            android:excludeFromRecents="true"
            android:name=".LoriePreferences"
            android:supportsPictureInPicture="false"
            android:resizeableActivity="true"
            android:exported="true"
            android:process=":x11">
            <!-- android:taskAffinity=".LoriePreferences" -->
        </activity>
	    <meta-data android:name="com.samsung.android.multidisplay.keep_process_alive" android:value="false"/>
	    <meta-data android:name="android.allow_multiple_resumed_activities" android:value="true" />

        <service android:name=".utils.KeyInterceptor"
            android:exported="true"
            android:label="Termux:X11 KeyInterceptor"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver android:name=".LoriePreferences$Receiver" android:exported="true" tools:ignore="ExportedReceiver" android:enabled="true" android:process=":x11">
            <intent-filter>
                <action android:name="com.termux.x11.CHANGE_PREFERENCE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
